.fs-16{
    font-size: 16px;
}

.fs-18{
    font-size: 18px;
}

.fs-14{
    font-size: 14px;
}

.fs-26{
    font-size: 26px;
    line-height: 29px;
}

.fs-20{
    font-size: 26px;
    line-height: 29px;
}

.color-white{
    color: #fff;
}

.color-black{
    color: #000;
}

.fs-13{
    font-size: 13px;
}

.fw-700{
    font-weight: 700;
}

.text-right{
    text-align: right;
}

